<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <div>
        <h1>Vue Todo App Example</h1>
      </div>
      <div>
        <label for="goal">Tasks</label>
        <input type="text" id="goal" v-model="enteredValue" />
        <button v-on:click="addTask">Add task</button>
      </div>
      <ul>
        <li v-for="task in tasks">{{ task }}</li>
      </ul>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="script.js"></script>
  </body>
</html>
